<ion-content>
  <ion-header class="navbar p-0 sticky-top bg-white ">
    <ion-header class="navbar firstnav p-1 ">
      <a class="navbar-brand"></a>
      <form class="form-inline">
        <a class="mr-sm-5 mr-5   font-weight-light fontsize12">
          <ion-img class="imgthumbnail" [src]=" '../assets/images/Call.svg' "></ion-img> +91-882-800-4809
        </a>
        <a class="my-0 my-sm-0 mr-5 font-weight-light fontsize12">
          <ion-img class="imgthumbnail" [src]=" '../assets/images/mail.svg' "></ion-img> info@voyaah.com
        </a>
      </form>
    </ion-header>
    
    <a class="navbar-brand p-0 ml-5">
      <ion-img style="width: 5rem; height: 5rem;" [src]=" '../assets/images/logo.svg' "></ion-img>
    </a>
    <form class="form-inline">
      <a class="mr-sm-5 mr-5  ">
        <button class="btnwidth">
          Create your custom Trip
        </button>
      </a>
      <a class="my-0 my-sm-0 mr-5  curser12"> Home</a>
      <a class="my-0 my-sm-0 mr-5  curser12"> About us</a>
      <a class="my-0 my-sm-0 mr-5  curser12"> Experiences</a>
      <a class="my-0 my-sm-0 mr-5  curser12"> Destinations</a>
      <a class="my-0 my-sm-0 mr-5  curser12"> Contact us</a>
    </form>
  </ion-header>

  <div class="Main">
    <img src="../assets/images/2966.png" alt="None" class="mainImg" />
    <div>
      <pre class="textOnImage font-weight-bold">
A handcrafted curation 
that evokes 
the rarest of luxuries and 
adventures, let your 
wanderlust run beyond you
</pre>
    </div>
    <img class="flightImg" src="../assets/images/Group 7297.svg" />

    <div class="container-fluid cardOnImg p-0 ">
      <ion-card class="container ">
        <ion-card-header>
          <ion-card-title class="text-center mt-5">Create your Trip With</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-grid class="mt-4">
            <ion-row>
              <ion-col size="4">
                <p class="pStyle mb-1">From</p>
                <ion-img class="formicon" [src]=" '../assets/images/Path 15407.svg' "></ion-img>
                <input type="text" class="form-control" placeholder="Hyderabad, Telangana, India">
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="4">
                <p class="pStyle mb-1 mt-1">To</p>
                <ion-img class="formicon" [src]=" '../assets/images/Path 15407.svg' "></ion-img>
                <ion-img class="formicon12" [src]=" '../assets/images/Group 10706.svg' "></ion-img>
                <input type="text" class="form-control" placeholder="New York, USA">
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="4">
                <p class="pStyle mb-1 mt-1">During</p>
                <input type="date" class="form-control smallinput" />
              </ion-col>
              <ion-col size="4" offset="2">
                <p class="pStyle mb-1 mt-1">No Of People</p>
                <ion-img class="formicon13" [src]=" '../assets/images/Path 69715.svg' "></ion-img>
                <input type="text" class="form-control smallinput" placeholder="Adults & Kids" />
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="4">
                <p class="pStyle mb-1 mt-1">Kids Age</p>
                <ion-img class="formicon13" [src]=" '../assets/images/Path 69715.svg' "></ion-img>
                <input type="text" class="form-control smallinput" placeholder="0 - 3 Years" />
              </ion-col>
            </ion-row>
          </ion-grid>
          <main class="mb-3">
            <ion-row>
              <span class="ActivePre ml-2 mt-3">
                Activities Preference >>
              </span>
            </ion-row>
            <img class="Forward" src="../assets/images/Forward.svg" alt="Forward" />
          </main>
        </ion-card-content>
      </ion-card>
    </div>

  </div>


  <ion-grid class="gridcard mb-4">
    <ion-row>
      <ion-col>
        <ion-card class="ion-card-color1 col-lg-10 offset-lg-1 col-md-10 offset-md-1 col-sm-10
       offset-sm-1 col-xs-10 offset-xs-1  col-xl-10 offset-xl-1">
          <ion-grid class="ioncardcontent">
            <ion-row>
              <ion-col class="col-lg-10 offset-lg-1 col-md-10 offset-md-1 col-sm-10 offset-sm-1
                     col-xs-10 offset-xs-1 col-xl-8 offset-xl-1" offset="1">
                <p class='font'>
                  <b>All your <br>
                    travel queries<br></b>
                <h4>
                  ends here!
                </h4>
                <p class="belowfont">
                  FROM FLIGHT BOOKING TO DELICIOUS FOOD.
                  <br>FROM HOTEL BOOKING TO TRAVEL ACCESSORIES
                  <br>ALL IN ONE PLACE
                </p>
              </ion-col>
              <ion-col class="image">
                <img src="../assets/images/logo12.svg" width="800px" height="200px">
              </ion-col>
            </ion-row>
          </ion-grid>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <img class="world d-block mt-2" src="../assets/images/world.png" alt="world" />

  <ion-grid>
    <ion-row>
      <ion-col class="text-center">
        <ion-row>
          <ion-col class="text-right col-md-6 col-lg-6  col-xl-6  col-sm-12  col-12 col-xs-12">
            <img src="../assets/images/Group 22509.png" class="img-fluid" style="width: 242px; height: 191px;">
          </ion-col>
          <ion-col class=" textsize text-left mt-3  p-0 col-md-6 col-lg-6  col-xl-6  col-sm-12  col-12 col-xs-12">
            <h3 class="font-weight-bold">Holidays</h3>
            <p style="font-size: 0.9rem; ">Instant and most realtime dynamic<br>flight booking experience</p>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col class="text-center">
        <ion-row>
          <ion-col class="text-right col-md-6 col-lg-6  col-xl-6   col-sm-12  col-12 col-xs-12">
            <img src="../assets/images/Group 22508.png" class="img-fluid imgsize" style="width: 242px;
            height: 191px;">
          </ion-col>
          <ion-col class="text-left textsize mt-3 col-md-6 col-lg-6  col-xl-6  col-sm-12 p-0 col-12 col-xs-12">
            <h3 class="font-weight-bold">Holidays</h3>
            <p style="font-size: 0.9rem; ">Instant and most realtime dynamic<br>flight booking experience</p>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="text-center">
        <ion-row>
          <ion-col class="text-right col-md-6 col-lg-6  col-xl-6   col-sm-12  col-12 col-xs-12">
            <img src="../assets/images/Group 22511.png" class="img-fluid imgsize" style="width: 242px;
            height: 191px;">
          </ion-col>
          <ion-col class="text-left textsize mt-3 col-md-6 col-lg-6  col-xl-6  col-sm-12 p-0 col-12 col-xs-12">
            <h3 class="font-weight-bold">Holidays</h3>
            <p style="font-size: 0.9rem; ">Instant and most realtime dynamic<br>flight booking experience</p>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="text-center">
        <ion-row>
          <ion-col class="text-right col-md-6 col-lg-6  col-xl-6  col-sm-12  col-12 col-xs-12">
            <img src="../assets/images/Group 22514.png" class="img-fluid" style="width: 242px; height: 191px;">
          </ion-col>
          <ion-col class=" textsize text-left mt-3  p-0 col-md-6 col-lg-6  col-xl-6  col-sm-12  col-12 col-xs-12">
            <h3 class="font-weight-bold">Holidays</h3>
            <p style="font-size: 0.9rem; ">Instant and most realtime dynamic<br>flight booking experience</p>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col class="text-center">
        <ion-row>
          <ion-col class="text-right col-md-6 col-lg-6  col-xl-6   col-sm-12  col-12 col-xs-12">
            <img src="../assets/images/Group 22513.png" class="img-fluid imgsize" style="width: 242px;
            height: 191px;">
          </ion-col>
          <ion-col class="text-left textsize mt-3 col-md-6 col-lg-6  col-xl-6  col-sm-12 p-0 col-12 col-xs-12">
            <h3 class="font-weight-bold">Holidays</h3>
            <p style="font-size: 0.9rem; ">Instant and most realtime dynamic<br>flight booking experience</p>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="text-center">
        <ion-row>
          <ion-col class="text-right col-md-6 col-lg-6  col-xl-6   col-sm-12  col-12 col-xs-12">
            <img src="../assets/images/Group 22516.png" class="img-fluid imgsize" style="width: 242px;
            height: 191px;">
          </ion-col>
          <ion-col class="text-left textsize mt-3 col-md-6 col-lg-6  col-xl-6  col-sm-12 p-0 col-12 col-xs-12">
            <h3 class="font-weight-bold">Holidays</h3>
            <p style="font-size: 0.9rem; ">Instant and most realtime dynamic<br>flight booking experience</p>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-text>
    <h2 class="text-center mt-5 mb-5" style="color:#707070">Why Choose Us</h2>
  </ion-text>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="ion-card-color2">
          <ion-grid class="ioncardcontent">
            <ion-row class="image-position mt-5 mb-5" style="text-align:center">
              <ion-col size="12" size-md offset="1">
                <img src="../assets/images/Group 26.svg" style="margin-right:124px" width="80px" height="70px">
                <p class="image-text">
                  AUTHENTIC AND<br>
                  RELAIBLE
                </p>
              </ion-col>
              <ion-col size="12" size-md>
                <img src="../assets/images/Group 27.svg" style="margin-right:124px" width="80px" height="70px">
                <p class="image-text">
                  WORLD CLASS<br>
                  SERVICES
                </p>
              </ion-col>
              <ion-col size="12" size-md>
                <img src="../assets/images/Group 28.svg" style="margin-right:124px" width="80px" height="70px">
                <p class="image-text">
                  OVER 10K HAPPY<br>
                  CUSTOMERS
                </p>
              </ion-col>
              <ion-col size="12" size-md>
                <img src="../assets/images/Holliday.svg" style="margin-right:124px" width="80px" height="70px">
                <p class="image-text">
                  OVER 10K HAPPY<br>
                  CUSTOMERS
                </p>
              </ion-col>
              <ion-col size="12" size-md>
                <img src="../assets/images/Group 30.svg" style="margin-right:124px" width="80px" height="70px">
                <p class="image-text">
                  TOP RATED AGENTS<br>
                  AND ADVISORS
                </p>
              </ion-col>
            </ion-row>
          </ion-grid>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>





  <!-- second card -->
  <ion-footer class="ion-no-border">
    <ion-grid class="secondCard2">
      <ion-row>
        <ion-col size="4" offset="1">
          <ion-card class="secondCard">
            <ion-card-content>
              <ion-grid>
                <ion-list>
                  <ion-row>
                    <ion-col size="4">
                      <ion-card-header>
                        <ion-card-title class="ml-3">
                          <ion-text color="dark">Customer</ion-text><br />
                          <ion-text color="dark">Review</ion-text>
                        </ion-card-title>
                      </ion-card-header>
                    </ion-col>
                    <ion-col size="4">
                      <ion-card-header>
                        <ion-card-title class="ml-3">
                          <ion-text color="dark">Menu</ion-text><br />
                        </ion-card-title>
                      </ion-card-header>
                    </ion-col>
                    <ion-col size="4">
                      <ion-card-header>
                        <ion-card-title class="ml-3">
                          <ion-text color="dark">News</ion-text><br />
                        </ion-card-title>
                      </ion-card-header>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="4">
                      <ion-item>
                        <ion-avatar class="AvatarSize" slot="start">
                          <img src="../assets/images/1 (1).png" />
                        </ion-avatar>
                        <ion-label>
                          <h2>Jack.F</h2>
                          <ion-icon name="star" color="warning"></ion-icon>
                          <ion-icon name="star" color="warning"></ion-icon>
                          <ion-icon name="star" color="warning"></ion-icon>
                          <ion-icon name="star" color="warning"></ion-icon>
                          <ion-icon name="star" color="warning"></ion-icon>
                          <pre>
  Fantastic, I'm totally
  blown away by Testimonial
  Generator.</pre>
                        </ion-label>
                      </ion-item>
                      <ion-item>
                        <ion-avatar class="AvatarSize" slot="start">
                          <img src="../assets/images/2.png" />
                        </ion-avatar>
                        <ion-label>
                          <h2>Finn</h2>
                          <ion-icon name="star" color="warning"></ion-icon>
                          <ion-icon name="star" color="warning"></ion-icon>
                          <ion-icon name="star" color="warning"></ion-icon>
                          <ion-icon name="star" color="warning"></ion-icon>
                          <ion-icon name="star" color="warning"></ion-icon>
                          <pre>
  Fantastic, I'm totally
  blown away by Testimonial
  Generator.</pre>
                        </ion-label>
                      </ion-item>
                      <ion-item>
                        <ion-avatar class="AvatarSize" slot="start">
                          <img src="../assets/images/3.png" />
                        </ion-avatar>
                        <ion-label>
                          <h2>Finn</h2>
                          <ion-icon name="star" color="warning"></ion-icon>
                          <ion-icon name="star" color="warning"></ion-icon>
                          <ion-icon name="star" color="warning"></ion-icon>
                          <ion-icon name="star" color="warning"></ion-icon>
                          <ion-icon name="star" color="warning"></ion-icon>
                          <pre>
  Fantastic, I'm totally
  blown away by Testimonial
  Generator.</pre>
                        </ion-label>
                      </ion-item>
                    </ion-col>

                    <ion-col size="4">
                      <ion-item>
                        <ion-card-header>
                          <ion-card-title class="mb-5">
                            <ion-text color="dark">ABOUT US</ion-text>
                          </ion-card-title>
                          <ion-card-title class="mb-5">
                            <ion-text color="dark">SERVICE</ion-text>
                          </ion-card-title>
                          <ion-card-title class="mb-5">
                            <ion-text color="dark">FLIGHT BOOKING</ion-text>
                          </ion-card-title>
                          <ion-card-title class="mb-5">
                            <ion-text color="dark">TRAIN BOOKING</ion-text>
                          </ion-card-title>
                          <ion-card-title class="mb-5">
                            <ion-text color="dark">CAR BOOKING</ion-text>
                          </ion-card-title>
                          <ion-card-title class="mb-5">
                            <ion-text color="dark">RESTAURANTS</ion-text>
                          </ion-card-title>
                        </ion-card-header>
                      </ion-item>
                    </ion-col>
                    <ion-col class="LastColumn" size="4">
                      <ion-item>
                        <ion-avatar class="AvatarSize2" slot="start">
                          <img src="../assets/images/12.png" />
                        </ion-avatar>
                        <ion-label>
                          <pre>
  News title goes here
  with bold text
                  </pre>
                        </ion-label>
                      </ion-item>
                      <ion-item>
                        <ion-avatar class="AvatarSize2" slot="start">
                          <img src="../assets/images/13.png" />
                        </ion-avatar>
                        <ion-label>
                          <pre>
  News title goes here
  with bold text
                  </pre>
                        </ion-label>
                      </ion-item>
                      <ion-item>
                        <ion-avatar class="AvatarSize2" slot="start">
                          <img src="../assets/images/14.png" />
                        </ion-avatar>
                        <ion-label>
                          <pre>
  News title goes here
  with bold text
                  </pre>
                        </ion-label>
                      </ion-item>
                      <ion-item>
                        <ion-avatar class="AvatarSize2" slot="start">
                          <img src="../assets/images/15.png" />
                        </ion-avatar>
                        <ion-label>
                          <pre>
  News title goes here
  with bold text
                  </pre>
                        </ion-label>
                      </ion-item>
                      <ion-item>
                        <ion-avatar class="AvatarSize2" slot="start">
                          <img src="../assets/images/16.png" />
                        </ion-avatar>
                        <ion-label>
                          <pre>
  News title goes here
  with bold text
                  </pre>
                        </ion-label>
                      </ion-item>

                    </ion-col>
                  </ion-row>
                </ion-list>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card class="ion-card-color">
            <ion-grid>
              <ion-row class="footer1 mb-5">
                <ion-col size="6" offset=1>
                  <img src="../assets/images/logo12.svg" width="100px" height="50px">
                </ion-col>
                <ion-col size="2" offset=2>
                  <ion-row>
                    <ion-col>
                      <img src="../assets/images/Vk.svg" width="50px" height="30px">
                    </ion-col>
                    <ion-col>
                      <img src="../assets/images/Pinterest.svg" width="50px" height="30px">
                    </ion-col>
                    <ion-col>
                      <img src="../assets/images/Instagram.svg" width="50px" height="30px">
                    </ion-col>
                    <ion-col>
                      <img src="../assets/images/Twitter.svg" width="50px" height="30px">
                    </ion-col>
                    <ion-col>
                      <img src="../assets/images/Facebook.svg" width="50px" height="30px">
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-grid>

          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-footer>


</ion-content>